{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-editable.css' %}">
    <link rel="stylesheet" href="{% static 'css/jqcloud.css' %}">
    <link rel="stylesheet" href="{% static 'css/smass.css' %}">    
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Static Malware Analysis Storage Solution</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Dashboard</a></li>
              <li><a href="/analyses">Analyses</a></li>
              <li><a href="/submit">Submit</a></li>
              <li><a href="/analyses/search">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/about">About</a></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-md-10 col-md-offset-1">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Courtesy of <a href="mailto://espen@mrfjo.org">Espen Fjellv&aelig;r Olsen</a>.
          <a class="pull-right" href="https://github.com/espenfjo/smass">GitHub</a>
        </p>
      </div>
    </div>
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/jqcloud-1.0.4.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.file-input.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-editable.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static 'js/smass.js' %}"></script>
  </body>
</html>
