<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th>Artifact name</th>
      <td>{{ analysis.name }}</td>
    </tr>
    <tr>
      <th>Analysis date</th>
      <td>{{ analysis.analysis_date }}</td>
    </tr>
    <tr>
      <th>File type</th>
      <td>{{ analysis.file_type }}</td>
    </tr>
    <tr>
      <th>Tags</th>
      <td class="tag-list">
        {% for tag in analysis.meta.tags %}
        <a href="#" data-type="text" data-pk="1" data-title="Enter tag" class="editable editable-click tags" tabindex="-1"><span class="label label-primary">{{ tag }}</span></a>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>Source</th>
      <td>
        <a href="#" id="source" data-type="text" data-pk="1" data-title="Enter source" class="editable editable-click" tabindex="-1">{{ analysis.meta.source }}</a>
      </td>
    </tr>
    <tr>
      <th>Comment</th>
      <td>
        <a href="#" id="comment" data-type="textarea" data-pk="1" data-title="Enter comment" class="editable editable-click" tabindex="-1">{{ analysis.meta.comment }}</a>
      </td>
    </tr>
    <tr>
      <th>MD5</th>
      <td>{{ analysis.md5 }}</td>
    </tr>
    <tr>
      <th>SHA1</th>
      <td>{{ analysis.sha1 }}</td>
    </tr>
    <tr>
      <th>SHA256</th>
      <td>{{ analysis.sha256 }}</td>
    </tr>
    <tr>
      <th>SHA512</th>
      <td>{{ analysis.sha512 }}</td>
    </tr>
    <tr>
      <th>SSDEEP</th>
      <td>{{ analysis.ssdeep }}</td>
    </tr>
    <tr>
      <td colspan="2">
        <button id="enable" class="btn btn-default">Edit</button>
      </td>
  </tbody>
</table>
